<div id="page">
  <%= render partial: "paginate" %>
</div>

<div class="changePageSize">
  <br>
  <form>
    <input type="text" class="input-page-size">
    <button type="button" class="pageSize-btn">Set Page Size</button>
    <button type="button" class="reset-btn">Reset</button>
  </form>
</div>
<div id="pageSizeEmpty"></div>
<div class="spinner">
  <div class="sk-fading-circle">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
  </div>
</div>

<div class="container">
  <div class="outer r4x3">
    <div class="inner">
      <%= render partial: "numbers" %>
    </div>
    <%= render partial: "messages" %>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".spinner").hide();
        $(".pageSize-btn").click(function () {
            var size = $(".input-page-size").val();
            if(size.length === 0) {
                $('#pageSizeEmpty').text("A value is required");
                $('#pageSizeEmpty').show().delay(1000).queue(function () {
                    $(this).fadeOut('slow');
                    $(this).remove();
                    $('.pageSize-btn').removeAttr('disabled');
                });
                return false;
            }else{
                $.ajax({
                    type: "POST",
                    url: "/users/" + <%= @user.id %> +"/index",
                    data: {page: <%= @page %>, per_page: size},
                    beforeSend: function(){
                        $(".spinner").show();
                    },
                    success: function () {
                        $(".spinner").hide();
                    },
                    error: function () {
                        $(".spinner").hide();
                    }
                });
            }
        });
        $(".reset-btn").click(function () {
            var size = $(".input-page-size").val();
            $.ajax({
                type: "POST",
                url: "/users/" + <%= @user.id %> +"/index",
                data: {page: <%= @page %>, per_page: 100},
                beforeSend: function(){
                    $(".spinner").show();
                },
                success: function () {
                    $(".spinner").hide();
                    $(".input-page-size").val('');
                },
                error: function () {
                    $(".spinner").hide();
                }
            });
        });
    });

    function update(id, number) {
        $.ajax({
            type: "PUT",
            url: "/users/" + id,
            data: {number: number},
            success: function () {
                $('#link_' + number + '').css("color", "gray").css("text-decoration", "none").removeAttr('href').attr('title', 'favourite!');
                if (number % 3 == 0) {
                    $(".FizzDiv").show().delay(1000).queue(function () {
                        $(this).fadeOut('slow');
                        $(this).remove();
                    });
                }
                if (number % 5 == 0) {
                    $(".BuzzDiv").show().delay(1000).queue(function () {
                        $(this).fadeOut('slow');
                        $(this).remove();
                    });
                }
            },
            error: function () {
                $('#link_' + number + '').css("color", "gray").css("text-decoration", "none").removeAttr('href');
                $("#.errorMessage").show().delay(1000).queue(function () {
                    $(this).fadeOut('slow');
                    $(this).remove();
                });
            }
        });
    }
</script>

